/*
Settings
*/

.hide {
  display: none;
}

/*
Colors
*/

.color-green {
  color: #80C11A;
}

.color-gray {
  color: #939caa;
}

.color-red {
  color: #fd3a5f;
}

.color-light-gray {
  color: #a7acc0;
}

.color-dimmed {
  color: #E0E4EB;
}

/*
End Colors
*/

/*
Fonts
*/

@font-face {
  font-family: 'neotechbold';
  src: url("./fonts/neotech/neotech_bold-webfont.woff2") format("woff2"), url("./fonts/neotech/neotech_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'neotechregular';
  src: url("./fonts/neotech/neotech-webfont.woff2") format("woff2"), url("./fonts/neotech/neotech-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold';
  src: url("./fonts/roboto/roboto-bold-webfont.woff2") format("woff2"), url("./fonts/roboto/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium';
  src: url("./fonts/roboto/roboto-medium-webfont.woff2") format("woff2"), url("./fonts/roboto/roboto-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url("./fonts/roboto/roboto-regular-webfont.woff2") format("woff2"), url("./fonts/roboto/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*
End Fonts
*/

/*
Caption
*/

.caption {
  display: table;
}

.caption-media, .caption-text {
  display: table-cell;
  /*vertical-align: middle;*/
}

.caption-media-gutter {
  padding-right: 20px;
}

.caption-text-gutter {
  padding-left: 15px;
}

.caption-gutter-left-0 {
  padding-left: 0px;
}

/*
End Caption
*/

/*
Anchors
*/

a {
  color: inherit;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  text-decoration: none;
  color: inherit;
  outline: 0;
}

/*
End Anchors
*/

/*
Buttons
*/

.button {
  padding: 7px 15px 8px;
  border: none;
  outline: none;
  border-radius: 50px !important;
  display: inline-block;
  transition: all 0.3s;
  color: white;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  outline: none !important;
}

.button:focus .button:active {
  outline: none;
  border: none;
}

.button-icon {
  border-radius: 100%;
  height: 40px;
  width: 40px;
  padding: 8px 0 0 0;
  margin-top: 44px;
}

.button-grey {
  background: #a7acc0;
  color: #fff;
}

.button-grey:hover {
  background-color: #8e9098;
  color: #fff;
  cursor: pointer;
}

.button-grey:focus, .button-grey:active {
  color: #fff;
  outline: none;
}

.button-black {
  background: #34383e;
  color: #fff;
}

.button-black:hover {
  background-color: #010101;
  color: #fff;
}

.button-black:focus, .button-black:active {
  color: #fff;
  outline: none;
}

.button-white {
  color: #a3d94e;
  background: #fff;
}

.button-white:hover {
  background-color: #f9f9f9;
  color: #a3d94e;
}

.button-green {
  background-color: #a3d94e;
  color: white !important;
  outline: none;
}

.button-green:hover {
  background-color: #83c51b;
  color: #a3d94e;
  cursor: pointer;
  outline: none;
}

.button-green:active .button-green:focus {
  outline: none;
}

.button-gray {
  border: 1px solid #717584;
  color: #717584;
}

.button.add-campaign {
  margin: 0 0 10px 15px;
}

.button.add-campaign .icon {
  color: #a3d94e;
}

.button.add-campaign .text {
  margin-left: 5px;
}

/*
End Buttons
*/

/*
Common
*/

.gutter-top {
  margin-top: 30px;
}

/*
End Common
*/

/*
Body
*/

body {
  font-family: 'robotoregular', sans-serif;
  background-color: #f5f7fa;
  color: #010101;
  overflow-x: hidden;
}

/*
End Body
*/

/*
Headings
*/

.heading-7 {
  font-size: 14px;
}

.heading-6 {
  font-size: 16px;
}

.heading-5 {
  font-size: 18px;
}

.heading-4 {
  font-size: 20px;
}

.heading-3 {
  font-size: 22px;
}

.heading-2 {
  font-size: 24px;
}

/*
End Headings
*/

/*
Icons
*/

.icon-gray {
  color: #939caa;
}

.icon-green {
  color: #a3d94e;
}

.icon-meduim {
  font-size: 20px;
}

.icon-small {
  font-size: 14px;
}

.icon-lg {
  font-size: 26px;
}

.icon-plus {
  height: 50px;
  width: 50px;
  background-color: #A7ACC0;
  color: white;
  border-radius: 50%;
  text-align: center;
}

.dials-download-icon {
  position: absolute;
  top: 0px;
  right: -43px;
  background-color: #010101;
  color: white;
  border-radius: 50%;
  padding: 8px 8px;
  font-size: 13px;
}

.checked-mark {
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  border: 2px solid #a3d94e;
  border-radius: 100%;
  padding: 3px;
  top: -38px;
  left: -8px;
  background: #fff;
}

/*
End Icons
*/

/*
Pages
*/

.page-content {
  padding: 30px 30px 20px 30px;
  /*margin-left: 230px;*/
}

.page-content.sidemenu-active {
  margin-left: 85px;
}

.page-content-container {
  padding-top: 73px;
}

.page-title {
  font-family: "neotechregular";
  font-size: 22px;
}

/*
End Pages
*/

/*
Title
*/

.title {
  margin-bottom: 20px;
}

.title-gray {
  color: #939caa;
}

.title-gray-light {
  color: #a7acc0;
}

.title-gray-dark {
  color: #464852;
}

.title-medium {
  font-size: 18px;
  font-family: "robotomedium";
  color: #2A2B2F;
}

.title-medium-light {
  font-size: 18px;
  font-family: "robotomedium";
  color: #E0E4EB;
}

.title-medium-regular {
  font-size: 18px;
}

.title-normal {
  font-size: 16px;
  font-family: "robotomedium";
  color: #2A2B2F;
}

.title-robotomedium {
  font-family: "robotomedium";
}

.title-small {
  font-size: 14px;
}

.title-xsmall {
  font-size: 11px;
}

.title-large {
  font-size: 20px;
}

.title-semi-large {
  font-size: 28px;
}

.title-xlarge {
  font-size: 30px;
  font-family: "neotechregular";
}

.title-bold {
  font-weight: bold;
}

.title-neotech {
  font-family: "neotechregular";
  font-size: 22px;
}

.title-neotech-medium {
  font-family: "neotechregular";
  font-size: 18px;
}

/*
End Title
*/

/*
Sections
*/

.section {
  margin-top: 28px;
  background-color: white;
  padding: 20px 40px 20px 40px;
  box-shadow: 0px 0px 7px rgba(29, 137, 120, 0.2);
  border-radius: 10px;
}

.section-active {
  border-left: 4px solid #a3d94e;
  border-radius: 3px 10px 10px 3px;
}

.section-title {
  font-size: 20px;
  border-left: 3px solid #a3d94e;
  margin-bottom: 30px;
  font-family: "neotechregular";
  border-radius: 6px;
}

/*
Section
*/

/*
Image
*/

.image-fit {
  object-fit: cover;
}

/*
End Image
*/

/*
Form
*/

.form-input {
  position: relative;
}

.form-input-margin {
  margin-top: 30px;
}

.form-input-label {
  color: #939caa;
  font-size: 12px;
  margin-bottom: 0px;
  font-family: "robotomedium";
  font-size: 14px;
}

.form-input input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  border: 0px;
  border-bottom: 1px solid #00000024;
  transition: all 0.3s;
  padding: 0px 2px;
  background-color: transparent
}

.form-input input:focus {
  outline: 0;
  border-color: #a3d94e;
}

.form-input textarea {
  display: block;
  width: 100%;
  height: calc(2.0rem + 2px);
  min-height: calc(1.8rem + 2px);
  border: 0px;
  border-bottom: 1px solid #00000024;
  /*transition: all 0.3s;*/
  padding: 0px 2px;
  background-color: transparent
}

.form-input textarea:focus {
  outline: 0;
  border-color: #a3d94e;
}

.form-input .invalid-input {
  outline: 0;
  border-color: #e0350b !important;
}

.invalid-text {
  font-size: .75em;
  color: #e0350b;
}

.form-input-timepicker .icon {
  position: absolute;
  right: 0;
  bottom: 25px;
}

.form-input-timepicker .icon-1 {
  position: absolute;
  right: 0;
  top: 36px;
}

.form-selectbox .selectbox {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  border: 0px;
  border-bottom: 1px solid #00000024;
  transition: all 0.3s;
}

.form-selectbox .selectbox:focus {
  outline: 0;
  border-color: #a3d94e;
}

.form-selectbox-icon {
  width: 11px;
  height: 5px;
  border-top: solid 5px #ddd;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
  position: absolute;
  right: 0;
  top: 45px;
  /*bottom: 15px;*/
}

.form-radiobtn .custom-control-label {
  position: relative;
  margin-bottom: 0;
  font-family: "robotomedium";
  font-size: 16px;
  cursor: pointer;
}

.form-radiobtn .custom-radio .custom-control-input:checked~.custom-control-label::before {
  background-color: #a3d94e;
  border: 2px solid #a3d94e;
}

.form-radiobtn .custom-control-input:focus~.custom-control-label::before {
  box-shadow: none;
}

.custom-checkbox:focus {
  box-shadow: none;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
  background-color: #a3d94e;
  box-shadow: none;
}

.custom-control-label {
  position: relative;
  margin-bottom: 0;
  font-size: 16px;
  font-family: "robotomedium";
  color: #464852;
  cursor: pointer;
}

.custom-control-label::before {
  position: absolute;
  top: .25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #FFFFFF;
  border: 2px solid #8097B1;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #464852;
}

.custom-control-input:focus~.custom-control-label::before {
  box-shadow: none;
}

.search-input {
  background-color: #eff1f5;
  border-radius: 20px;
  position: relative;
  width: 100%;
}

.search-input input {
  background-color: transparent;
  border: 0px;
  width: 100%;
  padding: 7px 42px 6px 20px;
  font-size: 14px;
  border-radius: 20px;
  transition: background-color 0.3s;
  color: #4d505c;
}

.search-input input:focus {
  outline: 0;
  background-color: #fff;
}

.search-input .icon {
  position: absolute;
  right: 20px;
  top: 10px;
  color: #939caa;
}

/*
End Form
*/

/*
Components
*/

/*
Header
*/

.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  padding: 12px 20px;
  color: #010101;
  box-shadow: 0px -2px 10px 3px rgba(52, 54, 62, 0.16);
  z-index: 999;
}

.header-menu {
  display: flex;
  justify-content: flex-end;
}

.header-menu .notification {
  margin-right: 40px;
  position: relative;
  top: 10px;
}

.header-menu .notification-badge {
  background: #a3d94e;
  position: absolute;
  color: #fff;
  border-radius: 50%;
  padding: 1px 5px 2px;
  font-size: 12px;
  top: -5px;
  left: 12px;
}

.header-menu .notification .icon {
  color: #939caa;
  font-size: 27px;
}

.header-menu .logged-user {
  margin-right: 35px;
}

.header-menu .logged-user-name {
  color: #939caa;
  font-size: 15px;
  display: block;
  font-family: "neotechregular";
}

.header-menu .logged-user-name .icon {
  margin-left: 10px;
}

.header-menu .logged-user-welcome {
  color: #010101;
  font-size: 14px;
  font-weight: 600;
  font-family: "neotechregular";
}

.header-menu .logged-user-image {
  width: 50px;
  object-fit: cover;
  max-height: 40px;
}

.header-menu .setting {
  position: relative;
  top: 10px;
}

.header-menu .setting .icon {
  color: #939caa;
  font-size: 27px;
}

.header .logo {
  display: inline-block;
}

.header .logo-title {
  font-family: "neotechregular";
  font-size: 20px;
  margin-left: 5px;
  position: relative;
  top: 3px;
  display: inline-block;
  color: #000;
}

/*
End Header
*/

/*
Side Menu
*/

.sidemenu {
  padding: 30px 0;
  position: fixed;
  height: 100%;
  left: 0;
  top: 58px;
  background-color: #fff;
  box-shadow: 0px 0px 6px rgba(76, 117, 158, 0.16);
}

.sidemenu-large {
  z-index: 9999;
  transition: width 0.5s;
}

/*.sidemenu-large.hide {
  width: 70px;
}*/

.sidemenu-large.hide .sidemenu-link {
  text-align: center;
}

.sidemenu-large.hide .button .text {
  display: none;
}

/*.sidemenu-large.show {
  width: 220px;
}*/

.sidemenu-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sidemenu-link {
  color: #626972;
  padding: 12px 20px;
  /*margin: 10px 0;*/
  display: block;
  transition: all 0.4s;
  background-color: transparent;
  position: relative;
  font-family: "neotechregular";
}

.sidemenu-link:after {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  width: 3px;
  background-color: transparent;
  top: 0;
}

.sidemenu-link .icon {
  color: #939caa;
  font-size: 25px;
  /*margin-right: 15px;*/
  position: relative;
  top: 2px;
  transition: all 0.3s;
  /*width: 40px;*/
}

.sidemenu-link .icon.reports {
  font-size: 22px;
}

.sidemenu-link .icon.sms {
  font-size: 24px;
}

.sidemenu-link.active {
  font-weight: 600;
}

.sidemenu-link.active:after {
  background-color: #a3d94e;
}

.sidemenu-link:hover, .sidemenu-link.active {
  background-color: #fbfbfb;
  color: #010101;
}

.sidemenu-link:hover .icon, .sidemenu-link.active .icon {
  color: #a3d94e;
}

.sidemenu-link-title {
  /*position: absolute;
  left: 75px;
  top: 22px;*/
  position: relative;
  top: -2px;
  margin-left: 10px;
}

.sidemenu-link-title.hide {
  opacity: 0;
  position: absolute;
  display: none;
}

.sidemenu-toggle {
  display: inline-block;
  margin-right: 30px;
  position: relative;
  top: 5px;
}

.sidemenu-toggle .icon {
  color: #939caa;
  font-size: 18px;
}

/*
End Side Menu
*/

.campaigns-tabs {
  position: relative;
  top: 4px;
}

.campaigns-tabs-link {
  color: #898e97;
  margin-right: 30px;
  position: relative;
  padding-bottom: 8px;
  font-size: 14px;
}

.campaigns-tabs-link:hover {
  color: #010101;
}

.campaigns-tabs-link:last-child {
  margin-right: 0px;
}

.campaigns-tabs-link.active {
  color: #010101;
  font-family: "robotobold";
  cursor: default;
}

.campaigns-tabs-link.active:after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 2px;
  left: 0;
  background-color: #010101;
}

.campaigns-filter {
  position: relative;
  font-size: 14px;
}

.campaigns-filter-title {
  margin-right: 5px;
  display: inline-block;
}

.campaigns-filter .icon {
  font-size: 15px;
  vertical-align: middle;
  margin-right: 2px;
}

.campaigns-filter-date .icon {
  font-size: 16px;
}

.campaigns-list {
  margin-bottom: 20px;
}

.campaigns-item {
  background-color: #fff;
  padding: 21px 25px;
  box-shadow: 0px 0px 7px rgba(29, 137, 120, 0.2);
  border-left: 3px solid #fff;
  border-radius: 8px;
  /*display: flex;*/
  justify-content: space-between;
  /*margin-bottom: 30px;*/
  transition: all 0.3s ease-out;
}

.campaigns-item:hover {
  /*background-color: rgb(251, 255, 252);*/
  border-left: 3px solid #a3d94e;
  cursor: pointer;
}

.campaigns-item-status {
  position: relative;
  top: 6px;
  -ms-flex: 0 0 7%;
  flex: 0 0 7%;
  max-width: 7%;
}

.campaigns-item-status .icon-container {
  background-color: #fff;
  border-radius: 50%;
  padding: 6px;
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
  box-shadow: 0px 0px 8px #dee2e6;
}

.campaigns-item-status .clickable {
  box-shadow: 0px 0px 8px #dee2e6;
  background-color: #fff;
  transition: all 0.4 ease-in-out;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.campaigns-item-status .clickable:hover {
  box-shadow: 0px 0px 15px #dee2e6;
  background-color: #fff;
  transition: all 0.4 ease-in-out;
  width: 50px;
  height: 50px;
  margin-left: -5px;
  margin-top: -5px;
  cursor: pointer;
}

.campaigns-item-status .icon-container .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
}

.campaigns-item-status .icon-container .icon.running {
  color: #1e99ef;
  font-size: 22px;
  left: 5px;
}

.campaigns-item-status .icon-container .icon.paused {
  color: #fd3a5f;
  font-size: 18px;
}

.campaigns-item-status .icon-container .icon.scheduled {
  color: #edb800;
  font-size: 24px;
  top: -1px;
}

.campaigns-item-status .icon-container .icon.done {
  color: #a3d94e;
  font-size: 24px;
  top: 2px;
}

.campaigns-item-status .icon-container .icon.pending {
  color: #d95e4e;
  font-size: 24px;
}

.campaigns-item-title {
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
}

.campaigns-item-title .title {
  display: block;
  color: #010101;
  margin-bottom: 5px;
  font-family: "robotomedium";
}

.campaigns-item-title .priority, .campaigns-item-title .priority-value, .campaigns-item-title .id, .campaigns-item-title .id-value {
  font-size: 13px;
}

.campaigns-item-title .priority {
  color: #939caa;
}

.campaigns-item-title .priority-value.normal {
  /*color: #a3d94e;*/
  color: #a3d94e;
  /*background-color: #a3d94e;*/
  border-radius: 2px;
  padding: 2px 4px;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 800;
}

.campaigns-item-title .priority-value.high {
  /*color: #fd3a5f;*/
  color: #fd3a5f;
  /*background-color: #fd3a5f;*/
  border-radius: 2px;
  padding: 2px 4px;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 800;
}

.campaigns-item-title .priority-value.medium {
  /*color: #edb800;*/
  color: #edb800;
  /*background-color: #edb800;*/
  border-radius: 2px;
  padding: 2px 4px;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 800;
}

.campaigns-item-title .id {
  color: #464852;
}

.campaigns-item-title .id-value {
  color: #464852;
  width: 70px;
  margin-right: 20px;
  display: inline-block;
}

.campaigns-item .property {
  color: #a7acc0;
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
  height: 24px;
}

.campaigns-item .value {
  font-size: 14px;
}

.campaigns-item-sender {
  -ms-flex: 0 0 12%;
  flex: 0 0 12%;
  max-width: 12%;
}

.campaigns-item-start {
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  max-width: 15%;
}

.campaigns-item-end {
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  max-width: 15%;
}

.campaigns-item-progress {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

.campaigns-item-progress .hours-numbers {
  font-family: "robotomedium";
  font-size: 22px;
}

.campaigns-item-progress .hours-text {
  font-size: 12px;
  color: #939caa;
}

.campaigns-item-actions {
  position: relative;
  top: 14px;
  -ms-flex: 0 0 1%;
  flex: 0 0 1%;
  max-width: 1%;
}

.campaigns-item-actions .icon {
  font-size: 25px;
  color: #a7acc0;
  cursor: pointer;
}

.campaigns-item-actions-link:hover .icon {
  color: #010101;
}

.campaign-steps-item {
  display: inline-block;
  text-align: center;
  position: relative;
  padding-right: 40px;
  cursor: pointer;
}

.campaign-steps-item:hover .campaign-steps-icon {
  background-color: #a3d94e;
}

.campaign-steps-item:hover .campaign-steps-icon span:before {
  color: white;
}

.campaign-steps-item:hover .campaign-steps-text {
  color: #010101;
  font-family: "robotomedium";
}

.campaign-steps-item:last-child::after {
  width: 0px;
}

.campaign-steps-item::after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  right: -45px;
  z-index: -1;
  top: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}

.campaign-steps-item.active .campaign-steps-icon {
  background-color: #a3d94e;
}

.campaign-steps-item.active .campaign-steps-icon span:before {
  color: white;
}

.campaign-steps-item.active .campaign-steps-text {
  color: #010101;
}

.campaign-steps-icon {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 100%;
  box-shadow: 0 3px 10px rgba(15, 114, 215, 0.1);
  position: relative;
  color: #d3d5df;
  margin: 0 auto;
  transition: all 0.3s;
}

.campaign-steps-icon .icon {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  width: 20px;
  height: 22px;
  font-size: 20px;
}

.campaign-steps-icon .icon.sms {
  left: 4px;
}

.campaign-steps-text {
  color: #939caa;
  font-size: 12px;
  margin-top: 8px;
  font-family: "robotomedium";
}

.campaign-text {
  font-size: 20px;
}

.campaign-label {
  font-size: 15px;
  color: #464852;
}

.campaign-sublabel {
  font-size: 11px !important;
  color: #797d8d;
}

.campaign .input-icon {
  position: absolute;
  right: 5px;
  bottom: 10px;
}

.campaign .input-timeIcon {
  position: absolute;
  right: 5px;
  bottom: 25px;
}

.campaign-setting .form-radiobtn {
  position: relative;
  top: 20px;
}

.campaign-setting .Pace-label {
  font-size: 16px;
  color: #464852;
  font-family: "robotomedium";
}

.button-green {
  background-color: #a3d94e;
  color: white !important;
}

.button-green-border {
  border: #a3d94e 1px solid;
  color: #a3d94e !important;
  background-color: white
}

.button-red {
  background-color: #e02d15;
  color: white !important;
}

.wide-button {
  padding: 10px 47px;
}

.button-green:hover {
  background-color: #83c51b;
  color: #a3d94e;
  cursor: pointer;
}

.button-green-border:hover {
  background-color: #83c51b;
  color: white !important;
  cursor: pointer;
}

.groups-sidemenu {
  padding: 30px 30px 0;
  position: fixed;
  height: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 0px 6px rgba(76, 117, 158, 0.16);
  z-index: 100;
  display: none;
  width: 350px;
}

.groups-sidemenu-active {
  margin-right: 350px;
}

.groups-sidemenu-icon {
  background-color: #B0B7C1;
  color: white;
  border-radius: 50%;
  padding: 3px 6px;
}

.groups-sidemenu-img {
  margin: 50px 50px;
}

/*
Options Drop Down
*/

.dropdown {
  position: absolute;
  z-index: 500;
  right: 5%;
  margin-top: 15px;
  padding: 5px 0px;
  background: #fff;
  color: #333;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 5px #a3d94e94;
  -webkit-box-shadow: 0 0 5px #a3d94e94;
  box-shadow: 0 0 5px #a3d94e94;
}

.dropdown .field {
  width: 300px;
  background: #a3d94e;
  color: #fff;
  padding: 5px;
  border: none;
  cursor: pointer;
  font-family: 'lucida sans unicode', sans-serif;
  font-size: 1em;
  border: solid 1px #a3d94e;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.dropdown .field:hover {
  border: solid 1px #fff;
  -moz-box-shadow: 0 0 5px #999;
  -webkit-box-shadow: 0 0 5px #999;
  box-shadow: 0 0 5px #999
}

.dropdown>ul.list {
  position: relative;
  z-index: 999;
  width: 140px;
  margin: 0;
  padding: 0px;
  list-style: none;
  text-align: left;
}

.dropdown>ul.list li {
  padding: 10px 8px;
  font-size: 14px;
}

.dropdown>ul.list li span {
  padding: 0px 8px 0px 10px;
  color: #000;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.dropdown>ul.list li:hover {
  background-color: #fbfbfb;
  color: #a3d94e;
  /*#a3d94e21 */
  cursor: pointer;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.dropdown>ul.list li:hover span {
  color: #a3d94e;
}

.dropdown>ul.list li:last-child {
  border: none
}

/*
Switch
*/

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  outline: none;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  outline: none;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #a3d94e;
  outline: none;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
  outline: none;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  outline: none;
}

/*
File Drop
*/

.file-drop-zone {
  height: 100px;
  margin: auto;
  border: 2px dotted #a3d94e;
  border-radius: 90px;
}

.file-drop-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  color: #a3d94e;
}

.pointer {
  cursor: pointer;
}

/*
RangeSlider
*/

input[type=range] {
  height: 1px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #b7cf8f;
  border-radius: 1px;
  border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #a3d94e;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a3d94e;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #a3d94e;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #a3d94e;
  border-radius: 1px;
  border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #a3d94e;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a3d94e;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #a3d94e;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
  background: #a3d94e;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #a3d94e;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a3d94e;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #a3d94e;
}

input[type=range]:focus::-ms-fill-upper {
  background: #a3d94e;
}

.blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.confirmDialog {
  position: absolute;
  margin-left: 0px;
  margin-top: 10px !important;
  width: 78.5%;
  text-align: center;
  z-index: 99;
  background: #ffffffe0;
  /*padding: 12px;
  border-radius: 20px;*/
  /*border: 1px solid #a3d94e;*/
}

.ngx-pagination {
  text-align: center;
  position: fixed;
  bottom: 0;
}

.ngx-pagination ul {
  margin-top: 25px;
  padding: 6px 30px 6px 30px;
  box-shadow: 0px 0px 7px rgba(29, 137, 120, 0.2);
  border-radius: 90px;
  background-color: white;
  display: inline-block;
  margin-left: 20px;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.ngx-pagination ul:hover {
  opacity: 1;
}

.ngx-pagination .current {
  background: #a3d94e !important;
  border-radius: 20px;
}

.ngx-pagination a:hover, .ngx-pagination button:hover {
  border-radius: 50px;
  color: #000;
}

.itemsNum {
  width: 180px;
  padding: 8px 5px 8px 5px;
  box-shadow: 0px 0px 7px rgba(29, 137, 120, 0.2);
  border-radius: 90px;
  position: relative;
  background-color: white;
  display: inline-block;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.itemsNum:hover {
  opacity: 1;
}

.paginSelect {
  border: 0px;
  border-bottom: 1px solid #00000024;
  transition: all 0.3s;
  padding: 0px 10px;
  margin-left: 10px;
  outline: none;
  border-radius: 5px;
}

.smallM {
  width: 70px;
}

.largeM {
  width: 220px;
}

/*Toast*/

.ui-toast .ui-toast-message {
  border-radius: 5px !important;
  color: #1f1f1f !important;
}

.ui-toast .ui-toast-summary {
  font-size: 15px;
  padding-top: 3px;
  font-weight: 400 !important;
}

.ui-toast-message-success {
  background-color: #a3d94e !important;
  color: #fff !important;
}

.ui-toast-message-text-content {
  padding: 0 !important;
}

.ui-toast-close-icon {
  padding: 0 !important;
  color: #fff !important;
}

.faded-grey {
  color: #d2d2d2 !important;
}

.invalid-feedback {
  display: block !important;
}

body /deep/ .ui-inputswitch.ui-inputswitch-checked /deep/ .ui-inputswitch-slider {
  background-color: #80C11A !important;
}

body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight, body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group.ui-state-highlight {
  color: #ffffff;
  background-color: #80C11A !important;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

body /deep/ .ui-dropdown {
  background: #ffffff;
  transition: border-color 0.2s;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #00000024;
  padding-bottom: 3px;
}

.ui-dropdown /deep/ .ui-dropdown-trigger .ui-dropdown-trigger-icon {
  top: 50%;
  left: 50%;
  margin-top: -.5em;
  margin-left: -.5em;
  position: absolute;
  color: #00000024;
}

.ui-dropdown /deep/ .ui-dropdown-trigger .ui-dropdown-trigger-icon:hover {
  top: 50%;
  left: 50%;
  margin-top: -.5em;
  margin-left: -.5em;
  position: absolute;
  color: #00000024;
}

body /deep/ .ui-chkbox .ui-chkbox-box.ui-state-active {
  border-color: #80C11A !important;
  background-color: #80C11A !important;
  color: #ffffff;
}

body /deep/ .ui-chkbox .ui-chkbox-box.ui-state-active:focus {
  border-color: #80C11A !important;
  background-color: #80C11A !important;
  color: #ffffff;
}

body /deep/ .ui-multiselect {
  background: #ffffff;
  border: 1px solid #a6a6a6;
  transition: border-color 0.2s;
  border: none;
  border-bottom: 1px solid #00000024;
  border-radius: 0px;
  padding-bottom: 3px;
}

body /deep/ .ui-multiselect-panel .ui-multiselect-items .ui-multiselect-item.ui-state-highlight {
  color: #ffffff;
  background-color: #00000024;
}

body /deep/ .ui-multiselect-panel .ui-multiselect-header .ui-multiselect-filter-container .ui-multiselect-filter-icon {
  color: #80C11A;
  top: 50%;
  margin-top: -0.5em;
  right: 0.5em;
  left: auto;
}

body /deep/ .ui-inputtext:enabled:focus:not(.ui-state-error) {
  border-color: #80C11A;
  outline: 0 none;
  box-shadow: none;
}

body /deep/ .ui-radiobutton .ui-radiobutton-box.ui-state-active {
  border-color: #80C11A !important;
  background-color: #80C11A !important;
  color: #ffffff;
}

.ui-progressbar {
  border-radius: 30px !important;
  background-color: #f5f7fa !important;
}

.ui-progressbar-value {
  background-color: #a3d94e !important;
  animation: 0ms all !important;
}

.ui-progressbar-label {
  color: #fff !important;
  font-weight: normal !important;
  text-align: left !important;
  margin-top: -2px !important;
  padding-left: 10px;
}

body .ui-dialog .ui-dialog-content {
  border-radius: 20px;
  border: 0 !important;
}

/* Campaign Stats*/

.campaigns-stats {
  background-color: #fff;
  padding: 12px 15px;
  box-shadow: 0px 0px 7px rgba(29, 137, 120, 0.2);
  border-radius: 10px;
}

.campaigns-stats-status {
  position: relative;
}

.campaigns-stats-status .icon-container {
  background-color: #fff;
  border-radius: 50%;
  padding: 6px;
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
}

.blue {
  background-color: rgb(245, 245, 255) !important;
}

.red {
  background-color: rgb(255, 246, 246) !important;
}

.yellow {
  background-color: rgb(255, 252, 218) !important;
}

.green {
  background-color: rgb(238, 251, 238) !important;
}

.darkred {
  background-color: #f5e9e8 !important;
}

.campaigns-stats-status .icon-container .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
}

.campaigns-stats-status .icon-container .icon.running {
  color: #1e99ef;
  font-size: 22px;
  left: 5px;
}

.campaigns-stats-status .icon-container .icon.paused {
  color: #fd3a5f;
  font-size: 18px;
}

.campaigns-stats-status .icon-container .icon.scheduled {
  color: #edb800;
  font-size: 24px;
  top: -1px;
}

.campaigns-stats-status .icon-container .icon.done {
  color: #a3d94e;
  font-size: 24px;
}

.campaigns-stats-status .icon-container .icon.pending {
  color: #d95e4e;
  font-size: 20px;
}

.campaign-details {
  padding: 20px;
  background-color: #f9fff0;
  /* border-radius: 10px; */
  border: 1px dashed #e8e8e8;
}

.campaign-details .indicator {
  padding: 1px 5px;
  color: #fff;
  font-size: 14px;
  border-radius: 2px;
}

.campaign-details .indicator-red {
  background: #fd3a5f;
}

.campaign-details .indicator-green {
  background: #a3d94f;
}

.campaign-filter-menu {
  position: absolute;
  z-index: 100;
}

.highlighted {
  background: rgb(240, 240, 240);
}

.highlighter {
  background: #fff;
}

.highlighter:hover {
  background: rgb(240, 240, 240);
}